<library path="src">
  <class 
    name="MotionSystemController"
    type="rqt_motion_system.motion_system_controller.MotionSystemController"
    base_class_type="rqt_gui_py::Plugin">
    <description>
      A plugin for motion system controlling.
    </description>
    <qtgui>
      <group>
        <label>Motion System Controller</label>
        <icon type="theme">folder</icon>
        <statustip>Motion System Controller</statustip>
      </group>
      <label>Motion System Controller</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>Motion System Controller</statustip>
    </qtgui>
  </class>
</library>